body{
    background-color: #131313;
}

.przyciskmenudropbtn{
    background-color: #252525;
    color:#FFF;
}
.lista2{
    background-color: #252525;
    color:#FFF;
}
.element3{
    background-color: #252525;
    color:#FFF;
}