
.ustawienia{
    position: absolute;
    left: 10%;
    top:10%;
    width:80%;
    height:80%;
    background-color: #FF5500;
    border-radius: 20px;
}
.darktheme{
    width:10%;
    height:10%;
    background-color: #000;
    color:#FFF;
    border-radius: 20px;
    border: 1px solid #505050;
}


